.main{
    background-color:#f9f9fb;
    padding:40px 0;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.currencyExchangeContainer{
    margin: 0 auto;
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.titleWrapper{
    height:250px;
}