.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    text-align:center;

}
.additionalHeader{
    font-size:16px;
}
.dateBlock{
    display:flex;
    flex-direction: column;
    gap:15px;
    font-size:16px;
}
