.header {
    background-color: #012e40;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    gap: 20px;
    padding: 10px;

}

.title {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;


}

.previewList {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 15px;
}

.previewListItem {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    border: 3px solid #037f8c;
    border-radius: 4px;
    padding: 6px 8px;

    &:hover {
        background-color: #037f8c;
        transition: background-color .3s;
    }

}

.listItemBottom {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.listItemBottom {
    display: flex;
    align-items: baseline;
    gap: 6px;
}